body {
  font-family:'Open Sans';
  background-image: url('./assets/img/mac_bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.close__form {
  position: absolute;
  right:10px;
  cursor: pointer;
}

.short_text {
  color:rgba(160, 154, 154, 0.87);
  font-size: 10px;
  margin-left: 25px;
}

.action_icons {
  position: absolute;
  right:0;
  top:0;
}
