body {
  font-family:'Open Sans';
  background-image: url('./assets/img/mac_bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.close__form {
  position: absolute;
  right:10px;
  cursor: pointer;
}
